.cabecalho{ 
    width: 100%;
    padding: 20px 0;
    background: yellow;
    display: flex;
    
}


h1 a{
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    margin-left: 10px;
    color:#000000;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lucida Sans';
}
.p1{
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;

}

.itens{
    display: flex;
    justify-content:right;
    box-sizing: border-box;
    border:2px solid brown;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}
nav{
    position: absolute;
    top: 15px;
    right: 20px;
    
}

nav li{
    display: inline-block;
    margin:0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Lucida Sans';
}
div span{
    display: inline-block;
}
span img{
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding:30px;
    border-radius: 50%;
    display: inline-block;
    
}
footer{
    text-align: center;
    background: yellow;
    font-size:12px;
    padding: 20px;
    font-family: 'Lucida Sans';
}
@media screen (max-width: 700px) {
    .cabecalho{
        display: none;
    }
    .menus{
        display: block;
    }
}